.component > button {
  height: 100%;
}

.controlButtonsContainer {
  pointer-events: none;
  position: absolute;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.controlButtonsContainer > div {
  pointer-events: auto;
}
